.description {
  font-style: normal;
  margin-top: 80px;
  margin-bottom: 80px;
}


  .card{
    display: inline-block;
    border: 2px solid #352245;
    border-radius: 0;
    margin: 20px;
    width: 350px;
    max-width: 350px;
    min-height: 200px;
    transition: all 0.1s;

}

.guide-buttons {
  display: flex;
  justify-content: space-evenly;
}