<div class="container">
    <div>
        <button type="button" class="btn btn-primary" (click)="addNode()">Add node</button>
        <button type="button" class="btn btn-info" (click)="generateFiles()">Generate files</button>
        <button type="button" class="btn btn-secondary" (click)="importFromFile()">Load from file </button>
    </div>
    <div class="bradcrumbs">
        <span *ngFor="let node of breadcrumbs" (click)="gotoNode(node.id)">
            <a class="link" href="#"> <fa-icon [icon]="['fas', 'arrow-right']" />
                {{node.text}}
            </a>
        </span>
    </div>

    <div class="row">
        <div class="card" *ngFor="let nodeKey of current.nodeKeys;let i = index">
            <div class="card-body">
                <div class="card-header d-flex justify-content-between">
                    <div class="w-25 d-flex justify-content-between">
                        <fa-icon size="lg" [icon]="['fas', 'arrow-left']" (click)="moveNode(i, i-1)" />
                        <fa-icon size="lg" [icon]="['fas', 'arrow-right']" (click)="moveNode(i, i+1)"  />
                    </div>
                    <div class="w-25 d-flex justify-content-between">
                        <fa-icon [icon]="['fas', 'pencil']" size="lg" (click)="editText(nodeKey)" />
                        <fa-icon [icon]="['fas', 'trash']" size="lg" (click)="deleteNode(nodeKey)" />
                    </div>
                </div>

                <p class="card-text">{{decisionTree[nodeKey].text }}</p>
                <button type="button" class="btn btn-link" (click)="gotoNode(nodeKey)">Navigate</button>
            </div>
        </div>
    </div>

    <ng-container *ngIf="isBeyondInitialQuestion()">
        <div class="guide-buttons">
            <button (click)="goToStart()" class="btn col-4 default">
                << Back to start</button>
                    <button (click)="back()" class="btn col-4 default">
                        < Back</button>
        </div>
    </ng-container>

</div>